<div class="card" style="width: 38rem" *ngIf="transalteData">
  <div class="card-body">
    <h5 class="card-title">
      {{transalteData.form_title}}
    </h5>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">
          {{transalteData.inputs.name.label}}
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          [placeholder]=" transalteData.inputs.name.placeholder"
        />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">
          {{transalteData.inputs.email.label}}
        </label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [placeholder]=" transalteData.inputs.email.placeholder"
        />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">
          {{transalteData.inputs.password.label}}
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [placeholder]=" transalteData.inputs.password.placeholder"
        />
      </div>

      <button type="submit" class="btn btn-primary">
        {{transalteData.button_label}}
      </button>
    </form>
  </div>
</div>
