<div class="card" style="width: 38rem;" *ngIf="transalteData">
  <div class="card-body">
    <h5 class="card-title">
       {{ transalteData.transalteData}}
    </h5>
    <form [formGroup]="profileForm"  >
      <div class="mb-3">
        <label for="title" class="form-label">
          {{transalteData.inputs.name.label}}
        </label>
        <input type="text" class="form-control" id="title" formControlName="name" [readonly]="true">
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">
          {{transalteData.inputs.email.label}}
        </label>
        <input type="text" class="form-control" id="title" formControlName="email" [readonly]="true">
      </div>
      </form>
  </div>
</div>
