<div class="card" style="width: 38rem" *ngIf="transalteData">
  <div class="card-body">
    <h5 class="card-title">
      {{ transalteData.form_title }}
    </h5>

    <form [formGroup]="ediTTtaskForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        {{ transalteData.inputs.title.label }}
        <label for="title" class="form-label">
          {{ transalteData.inputs.title.label }}
        </label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          [placeholder]="transalteData.inputs.title.placeholder"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">
          {{ transalteData.inputs.description.label }}
        </label>
        <textarea
          class="form-control"
          id="description"
          formControlName="description"
          [placeholder]="transalteData.inputs.description.placeholder"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-primary">
        {{ transalteData.button_label }}
      </button>
    </form>
  </div>
</div>
